.div-menu-superior {
    position: fixed; display: inline-block; width: 100%; padding-left: 300px;
}

.div-menu-lateral {
    background-color: #0D6EFD; display: inline-block; width: 300px; position: fixed; height: 100%;
}

.div-contenido {
    padding-left: 320px; padding-top: 70px;
}