<img src="https://minegocioefectivo.com/assets/media/logos/logo-light-texto.png" class="m-3" width="180px" alt="">

<ul class="list-group mb-5">
  <li class="list-group-item">Saldo: {{ saldo?.saldo?.toFixed(2) }}</li>
  <li class="list-group-item">Comisión: {{ saldo?.comision?.toFixed(2) }}</li>
  <li class="list-group-item">Total: {{ saldo?.total?.toFixed(2) }}</li>
</ul>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Recargas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="acreditacion/index">Acreditaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="proveedor/index">Proveedores</a>
    </li>
</ul>